<h1>Solicitud de comedor</h1>

<h2>Nueva solicitud</h2>

<label>Nombre:</label>
<input [value]="solicitud.nombre" (keyup)="actualizarNombre($event)">

<label>Apellidos:</label>
<input [value]="solicitud.apellidos" (keyup)="actualizarApellidos($event)">

<div *ngIf="getDisabled()">
    La longitud del nombre o de los apellidos no es válida
</div>

<h2>Centro</h2>
<app-selector-centro></app-selector-centro>


<div>
    <button (click)=" enviar() " [disabled]="getDisabled() ">Enviar</button>
</div>


<h2>Listado de solicitudes</h2>

<div *ngFor="let solicitud of solicitudes">
    <app-fila-solicitud [solicitud]="solicitud" (solicitudEliminada)="borrar(solicitud)">

    </app-fila-solicitud>
</div>