<h1>Solicitud de comedor</h1>

<h2>Nueva solicitud</h2>

<label>Nombre:</label>
<input [value]="solicitud.nombre" (keyup)="actualizarNombre($event)">

<label>Apellidos:</label>
<input [value]="solicitud.apellidos" (keyup)="actualizarApellidos($event)">

<div *ngIf="getDisabled()">
    La longitud del nombre o de los apellidos no es válida<br> El nombre debe contener al menos 3 caracteres y los apellidos 5
</div>

<div>
    <button (click)=" enviar() " [disabled]="getDisabled() ">Enviar</button>
</div>


<h2>Listado de solicitudes</h2>

<div *ngFor="let solicitud of solicitudes">
    {{solicitud.nombre}} {{solicitud.apellidos}} <button (click)="eliminar(solicitud)">Eliminar</button>
</div>